/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 100%;
} /*16px*/

:root {
  /* Font Weights */
  --fw-300: 300;
  --fw-400: 400;
  --fw-700: 700;
  --fw-900: 900;

  /* Font Sizes */
  --fs-300: 0.85rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.55rem;
  --fs-700: 1.95rem;
  --fs-800: 2.44rem;
  --fs-900: 3.05rem;

  /* SVG's */
  --default-svg-size: 2rem;

  /* Primary Colours */
  --primary-50: #e0fcff;
  --primary-100: #84b5f1;
  --primary-200: #4695f7;
  --primary-300: #4669f7;
  --primary-500: #150ade;
  --primary-800: #20084e;

  /* Accent Colours */
  --accent-100: #dfc1e4;
  --accent-300: #a541f6;
  --accent-400: #7b46f7;

  /* Greyscale Colours */
  --transparent-white: rgba(255, 255, 255, 0.75);
  --grey-50: #f0f4f8;
  --grey-100: #d9e2ec;
  --grey-200: #bcccdc;
  --grey-300: #9fb3c8;
  --grey-400: #829ab1;
  --grey-500: #627d98;
  --grey-600: #486581;
  --grey-700: #334e68;
  --grey-800: #243b53;
  --grey-900: #102a43;

  /* Accent Colours */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #c52f3b;
  --green-light: #d1e7dd;
  --green-dark: #1d9a60;

  /* Font  */
  --headingFont: 'Bakbak One', Sans-Serif;
  --bodyFont: 'Noto Sans', Sans-Serif;
  --small-text: 0.875rem;
  --extra-small-text: 0.7em;

  /* Styling Variables */
  --backgroundColor: var(--white);
  --headingColor: var(--primary-800);
  --textColor: var(--grey-900);
  --dashboardBorder: 4px solid var(--grey-100);
  --borderRadius: 0.15rem;
  --borderRadiusMd: 0.5rem;
  --borderRadiusLg: 1rem;
  --letterSpacing: 1px;
  --transition: 0.2s ease-in-out all;
  --max-width: 1300px;
  --fixed-width: 500px;
  --fluid-width: 80vw;
  --breakpoint-lg: 992px;
  --nav-height: 8rem;

  /* Padding Values */
  --padding-25: 0.25rem;
  --padding-50: 0.5rem;
  --padding-75: 0.75rem;
  --padding-100: 1rem;
  --padding-150: 1.5rem;

  /* Typography */
  --global-lh: 1.75;
  --heading-lh: 1.3;
  --subheading-lh: 1.15;

  /* Box Shadows */
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body {
  background: var(--backgroundColor);
  font-family: var(--bodyFont);
  font-weight: var(--fw-400);
  line-height: var(--global-line-height);
  color: var(--textColor);
}

p {
  /* margin-bottom: 1.5rem; */
  /* max-width: 40em; */
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-family: var(--headingFont);
  font-weight: var(--fw-400);
  line-height: var(--heading-lh);
  /* text-transform: capitalize; */
  letter-spacing: var(--letterSpacing);
}

h1 {
  margin-top: 0;
  font-size: var(--fs-900);
}

h2 {
  font-size: var(--fs-800);
}

h3 {
  font-size: var(--fs-700);
}

h4 {
  font-size: var(--fs-600);
}

h5 {
  font-size: var(--fs-500);
}

small,
.text-small {
  font-size: var(--small-text);
}

a {
  text-decoration: none;
  letter-spacing: var(--letterSpacing);
}

a,
button {
  line-height: var(--subheading-lh);
}

button:disabled {
  cursor: not-allowed;
}

ul {
  list-style-type: none;
  padding: 0;
}

img {
  width: 100%;
  padding-bottom: 5px;
}

*::selection {
  color: var(--primary-500);
  background-color: var(--accent-100);
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/* Utility Classes */

.full-page-centre {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logo {
  width: 200px;
}

.container {
  width: var(--fluid-width);
  max-width: var(--max-width);
  margin: 0 auto;
}

.link {
  color: var(--primary-600);
  font-weight: bold;
}

.link:hover {
  color: var(--primary-900);
  text-decoration: underline;
}

.line-flow {
  line-height: 1.5rem;
}

/* Buttons */

.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--primary-500);
  border: 2px solid var(--primary-500);
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
}

.btn:hover {
  background: var(--primary-300);
  box-shadow: var(--shadow-2);
  /* color: var(--primary-500); */
}

.btn-funky {
  color: var(--primary-500);
  border: 2px solid var(--primary-300);
  background: transparent;
}

.btn-funky:hover {
  color: var(--white);
  background: var(--primary-300);
}

.btn-block {
  width: 100%;
}

.btn-hero {
  font-size: var(--fs-500);
  padding: 0.5rem 1.25rem;
}

.btn-danger {
  background: var(--red-light);
  color: var(--red-dark);
}

.btn-danger:hover {
  background: var(--red-dark);
  color: var(--white);
}

/* Alert boxes */

.alert {
  width: 100%;
  height: 40px;
  border-radius: var(--borderRadius);
  display: grid;
  place-items: center;
  margin: 5px 0;
}

.alert-danger {
  background-color: var(--red-light);
  color: var(--red-dark);
  border: 2px solid var(--red-dark);
}

.alert-success {
  background-color: var(--green-light);
  color: var(--green-dark);
  border: 2px solid var(--green-dark);
}
